.post-container {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.post-title {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.post-info {
  color: #666;
}

.post-image {
  max-width: 100%;
  max-height: 300px;
  width: auto;
  height: auto;
  object-fit: cover;
}

.post-content {
  margin-top: 20px;
}

.post-footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.share-buttons {
  display: flex;
}

.share-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 200ms;
}
.share-buttons button:nth-child(1):hover{
  background-color: cornflowerblue;
}
.share-buttons button:nth-child(2):hover{
  background-color: lightskyblue;
}
.comments-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.comment-input{
  width: 100%;
  height: 70px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0 10px 0;
}
.comment-send{
  align-self: flex-end;
  width: 100px;
  height: 30px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 200ms;
}
.comment-send:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
  font-size: 110%;
}
.comments-list {
  list-style: none;
  padding: 0;
}
.comment-item {
  border-bottom: 1px solid #ccc;
  padding: 25px 10px 0 10px;
  margin: 10px 0;
  min-height: 60px;
}
.post-footer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.post-actions { 
  display: flex;
  gap: 10px;
}

.action-button {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: none;
  transition: all 200ms;

}

.action-button:hover{
  transform: scale(1.2);
}

.post-footer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.post-actions {
  display: flex;
  gap: 10px;
}

/* Estilos para hacerlo responsive */
@media screen and (max-width: 463px) {
  .post-actions {
    width: 100%;
    justify-content: center;
  }
}
