*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
svg{
    height: 35px;
    width: 35px;
}
/* img {
    overflow-clip-margin: content-box !important;
    overflow: clip !important;
} */
.inactive{
    display: none;
}