nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: white;
}
nav div{
    display: flex;
    align-items: center;
}
.menuNav{
    display: flex;
    flex-direction: column;
    transition: all 200ms;
    z-index: 20;
}
.menuNav svg{
    transition: all 200ms;
}
.menuNav .menuNavItem{
    height: 10px;
    transform: scaleX(3) rotate(0deg);
    stroke-width: 20px;
}
.menuNav:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.rotateItem1{
    transform: rotate(45deg) translate(10px, 15px)!important;
}
.rotateItem3{
    transform: rotate(-45deg) translate(10px, -15px)!important;
}

/* DropDown Menu */
.toggableMenuNav{
    position: fixed;
    top: -100vh;
    left: 0;
    background-color: ghostwhite;
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
    transition: all 600ms;
}
.toggableMenuNav p{
    font-weight: 700;
    font-size: 60px;
    transition: all 300ms;
    color: rgb(95, 95, 95);
}
.toggableMenuNav p:hover{
    transform: scale(1.2);
    cursor: pointer;
    color: black;
}
.dropDown{
    transform: translateY(100vh);
}
.dropUp{
    transform: translateY(-100vh);
}
